@font-face {
  font-family: 'Berkeley';
  font-style: normal;
  font-weight: normal;
  src: local('Berkeley'), url('Berkeley.ttf') format('truetype');
}

*{
	font-family: Berkeley, monospace, sans-serif;
}
#one{
	margin-left: 2em;
}

li span{
	position: relative;
	left: -10px;
}

a:link, a:visited {
	color:blue;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

