.content{
    padding-top: 30px;
	padding-bottom: 30px;
	font-family: monospace;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
}
h2{
	margin: 0;
}

code{
    border: 1px dashed;
    padding: 0px;
	font-style: italic;
	color: #c47a62;
}

/*a:link, a:visited{
    color: green;
}

a:hover{
	color: grey;
	text-decoration: underline;
}
*/
