*{
	font-family: monospace;
}

h2{
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p{
	font-size: 1.25em;
}

a:link,a:visited {
	color:green;
}



/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

