body, h1 {	
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
}

header {
	background-color: rgb(0, 170, 226); 
	text-align: center;
}


.title {
	text-align: center;
	color: white;
}

.body-content {
	padding-left: 25%;
}

