@font-face {
  font-family: 'Berkeley';
  font-style: normal;
  font-weight: normal;
  src: local('Berkeley'), url('Berkeley.ttf') format('truetype');
}

a:link{
	color: mediumblue;
}

*{
    font-family: Berkeley, monospace, sans-serif;
}

code{
	color: red;
	font-style: italic;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

