@font-face {
  font-family: 'Berkeley';
  font-style: normal;
  font-weight: normal;
  src: local('Berkeley'), url('Berkeley.ttf') format('truetype');
}

a:link, a:visited{
	color: blue;
}

*{
    font-family: Berkeley, monospace, sans-serif;
}

code{
	font-size: 0.9rem;
	font-family: monospace;
	border: 1px solid #ccc;
	padding: 0.25px;
}


/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
	code {
	    background-color: #f4f4f4;
	}
	a:link, a:visited {
		color: blue;
	}
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
	code {
	    background-color: #333;
	}
	a:link, a:visited {
		color: lightblue;
	}
}

